<template>
  <v-card id="card" class="mx-auto" max-width="600">
    <v-card-text>
    <p class="text-h4 text--primary" align="center">Gráfico Apexcharts</p>
    <!--Gráfico Apexchart-->
    <apexchart width="550" height="350" type="donut" :options="chartOptions" :series="series"></apexchart>
    <button @click="updateChart">Update!</button>
    </v-card-text>
    <v-card-actions>
      <v-btn text color="deep-purple accent-4">
    </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'DonutExample',
  data: function() {
    return {
      chartOptions: {
        labels: ["Azul", "Verde", "Amarelo", "Vermelho"],
      },
      series: [11, 32, 45, 32], 
      
    }
  },
  methods: {
    updateChart() {
        const max = 90;
        const min = 20;
        const newData = this.series.map(() => {
          return Math.floor(Math.random() * (max - min + 1)) + min
        })
        this.series = newData
      }
  }
}
</script>

<style scoped>
#card{
    margin-left: auto;
    margin-right: auto;
  
}
</style>