<template>
  <v-card id="card" class="mx-auto" max-width="600">
    <v-card-text>
    <p class="text-h4 text--primary" align="center">Gráfico Apexcharts</p>
    <!--Gráfico Apexchart-->
    <apexchart width="550" type="line" :options="chartOptions" :series="series"></apexchart>
    </v-card-text>
    <v-card-actions>
      <v-btn text color="deep-purple accent-4">
    </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
    data: function() {
      return {
        chartOptions: {
          stroke:{
          width:3,
          //curve: 'stepline'
        },
          chart: {
        stacked: false,
        toolbar: {
        show: true,
        offsetX: 0,
        offsetY: 0,
        tools: {
          download:'<img src="https://www.aerodronebrasil.com/wp-content/uploads/2017/02/Click-Download-PNG-300x188.png" width="35" title="download">', 
          selection: true,
          zoom: true, 
          zoomin: true,
          zoomout: true,
          pan: true,
          reset: true | '<img src="/static/icons/reset.png" width="20">',
          /*customIcons: [{
          icon: '<img src="https://image.flaticon.com/icons/png/512/59/59165.png" width="15">',
          title: 'Menu',}]*/
        },
      }
          },          
          xaxis: {
            categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
           
          }
        },
        
        series: [{
          name: 'series-1',
          data: [30, 40, 35, 50, 49, 60, 70, 91],
          color: '#FF0000',
 
        }],
      }
    },
    
};
</script>
<style scoped>
#card{
    margin-left: auto;
    margin-right: auto;
  
}
</style>