<template>
  <v-card id="card" class="mx-auto" max-width="600">
    <v-card-text>
    <p class="text-h4 text--primary" align="center">Gráfico Apexcharts</p>
    <!--Gráfico Apexchart-->
    <apexchart width="550" height="280" :options="chartOptions" :series="series"></apexchart>
    </v-card-text>
    <v-card-actions>
      <v-btn text color="deep-purple accent-4">
    </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
    data: function() {
      return {
        chartOptions: {
          stroke:{
          width:3,
          curve: 'straight'
        },
          chart: {
          type: "area",
          toolbar: {
          show: false,
        }
          },
          dataLabels: {
          enabled: false
        },       
          xaxis: {
            categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
           
          },
          tooltip: {
            fixed: {
                enabled: false,
                position: 'topRight'
            }
        }
          
        },
        
        series: [{
          name: 'series-1',
          data: [30, 40, 35, 50, 49, 60, 70, 91],
        },
        {
          name: 'series-2',
          data: [11, 32, 45, 32, 34, 52, 41,44]
      },
      {
          name: 'series-3',
          data: [9, 2, 33, 22, 33, 35, 55,31]
      }],
        
      }
    },
    
};
</script>
<style scoped>
#card{
    margin-left: auto;
    margin-right: auto;
  
}
</style>