<template>
  <v-card id="card" class="mx-auto" max-width="600">
    <v-card-text>
    <p class="text-h4 text--primary" align="center">Gráfico Apexcharts</p>
    <!--Gráfico Apexchart-->
    <apexchart width="550" height="350" type="radialBar" :options="chartOptions" :series="series"></apexchart>
    <button @click="updateChart">Update!</button>
    </v-card-text>
    <v-card-actions>
      <v-btn text color="deep-purple accent-4">
    </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'RadialBarExample',
  data: function() {
    return {
      chartOptions: {
        labels: ["Percent"],
      },
      series: [81],
    }
  },
}
</script>

<style scoped>
#card{
    margin-left: auto;
    margin-right: auto;
  
}
</style>